/* Restablecimiento de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgb(37, 43, 71) 0%,
    rgba(3, 3, 3, 0.97) 100%
  );
    font-family: 'Rock Salt', cursive;
    color: rgb(247, 18, 18);
    letter-spacing: 0.5em;
    font-size: 18px;
    font-weight: 10px;
    text-shadow: 2px 2px 5px black;
}

.conteiner{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 220px; /* espacio para que la imagen no se superponga con el header */
    padding-bottom: 520px;
    align-items: center;
}

/*++++++++++++++++++++++++*/
/* Estilos del encabezado*/
.titulo {
    padding: 1rem;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #ff6f61;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
}
/*+++++++++++++++++++++++*/
/*Style para el footer*/
.pie p{
    text-align: center;
    padding: 20px;
  }

  /*+++++++++++++++++++++++++++++++++*/
  /*style de los iframe*/
  iframe{
   width:100%;
   border: none;    
  }
  .ifHeader {
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.ifFooter {
    height: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Estilo para la imagen */
.img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Espacio entre la imagen y el texto */
    gap: 20px; 
    text-align: center;
    max-width: 90%;
}

.img img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*+++++++++++++++++++++++++++++++++*/
/*Estilo de la pestaña "laberinto"*/
#positionJuego {
    display: flex;
    justify-content: center;
    width: 100%; /* Ancho máximo del contenedor */
    max-width: 100%; /* Ancho máximo deseado */
    margin: auto;
}
.juego {
    width: 100%;
    height: calc(100vh - 60px); /* Altura total menos el espacio reservado para header y footer */
}

